/* line 1, ../../sass/components/utilities.scss */
.em4 {
  width: 4em;
}

/* line 3, ../../sass/components/utilities.scss */
.margin-auto {
  margin: auto;
}

/* line 4, ../../sass/components/utilities.scss */
.margin-0 {
  margin: 0;
}

/* line 5, ../../sass/components/utilities.scss */
.margin-20 {
  margin: 20px;
}

/* line 6, ../../sass/components/utilities.scss */
.margin-top-5 {
  margin-top: 5em;
}

/* line 7, ../../sass/components/utilities.scss */
.margin-top-10 {
  margin-top: 10em;
}

/* line 8, ../../sass/components/utilities.scss */
.margin-bottom-5 {
  margin-bottom: 5em;
}

/* line 9, ../../sass/components/utilities.scss */
.margin-bottom-8 {
  margin-bottom: 8em;
}

/* line 10, ../../sass/components/utilities.scss */
.margin-10-25 {
  margin: 10px 25px !important;
}

/* line 11, ../../sass/components/utilities.scss */
.margin-sides-40 {
  margin: 0 40px;
}

/* line 13, ../../sass/components/utilities.scss */
.padding-10 {
  padding: 10px;
}

/* line 14, ../../sass/components/utilities.scss */
.padding-20 {
  padding: 20px;
}

/* line 15, ../../sass/components/utilities.scss */
.padding-sides-10 {
  padding: 0 10em;
}

/* line 16, ../../sass/components/utilities.scss */
.padding-sides-3 {
  padding: 0 3em !important;
}

/* line 18, ../../sass/components/utilities.scss */
.height-160 {
  height: 160px;
}

/* line 19, ../../sass/components/utilities.scss */
.height-200 {
  height: 200px;
}

/* line 20, ../../sass/components/utilities.scss */
.height-250 {
  height: 250px;
}

/* line 21, ../../sass/components/utilities.scss */
.height-600 {
  height: 600px;
}

/* line 22, ../../sass/components/utilities.scss */
.height-30vh {
  height: 30vh;
}

/* line 23, ../../sass/components/utilities.scss */
.height-10vh {
  height: 10vh;
}

/* line 25, ../../sass/components/utilities.scss */
.float-right {
  float: right;
}

/* line 27, ../../sass/components/utilities.scss */
.width-40 {
  width: 40vw;
}

/* line 29, ../../sass/components/utilities.scss */
.width-100 {
  width: 100%;
}

/* line 30, ../../sass/components/utilities.scss */
.width-80 {
  width: 80%;
}

/* line 31, ../../sass/components/utilities.scss */
.width-30 {
  width: 30%;
}

/* line 32, ../../sass/components/utilities.scss */
.width-50 {
  width: 50%;
}

/* line 33, ../../sass/components/utilities.scss */
.width-60 {
  width: 60%;
}

/* line 35, ../../sass/components/utilities.scss */
.top-left-1-80 {
  top: 1%;
  left: 80%;
}

/* line 37, ../../sass/components/utilities.scss */
.fixed-nav {
  position: fixed;
  z-index: 1;
}

/*TEXT-STYLES*/
/* line 42, ../../sass/components/utilities.scss */
.font-3 {
  font-size: 3em;
}

/* line 43, ../../sass/components/utilities.scss */
.message-text {
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-size: 27px;
  text-align: center;
}

/* line 50, ../../sass/components/utilities.scss */
.text-about {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 1em;
}

/* line 56, ../../sass/components/utilities.scss */
.text-intro {
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

/* line 61, ../../sass/components/utilities.scss */
h1, h2 {
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
  margin: auto;
}

/* line 68, ../../sass/components/utilities.scss */
h4 {
  font-family: 'Nunito', sans-serif;
}

/* line 72, ../../sass/components/utilities.scss */
.menu-mobile {
  margin: 20px 0;
}

/*h1.referral{display: none!important;}*/
/* line 78, ../../sass/components/utilities.scss */
a.j-blog {
  display: none;
}

/* line 82, ../../sass/components/utilities.scss */
.icon-values {
  font-size: 6em !important;
  color: #ED0B12;
}

/* line 86, ../../sass/components/utilities.scss */
.icon-about {
  font-size: 6em !important;
  color: #005863;
}

/* line 90, ../../sass/components/utilities.scss */
.text-values {
  color: #005863;
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
}

/* line 96, ../../sass/components/utilities.scss */
.text-services {
  color: #005863;
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}

/* IMAGES-STYLE*/
/* line 103, ../../sass/components/utilities.scss */
.black-filter {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}

/* line 107, ../../sass/components/utilities.scss */
.black-filter-2 {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 160px;
}

/* line 113, ../../sass/components/utilities.scss */
.service-1 {
  background-image: url("../images/tlaloc.jpg");
  width: 85%;
  height: 300px;
  margin: auto;
  transition: box-shadow .25s;
  border-radius: 20%;
}

/* line 122, ../../sass/components/utilities.scss */
.banner-titles {
  background-image: url("../images/cloud.jpg");
  height: 160px;
  background-size: cover;
  background-position: center;
}
